@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controllers and Actions</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/css/*.min.css" />
</head>
<body class="m-1 p-1">
    <div>
        <p>@ViewBag.Message</p>
        <p>@ViewBag.Date</p>
    </div>
</body>
</html>