@model Result

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/css/*.min.css" />
</head>
<body>
    <table class="table table-bordered table-striped table-sm table-hover">
        <tr><th>Controller:</th><td>@Model.Controller</td></tr>
        <tr><th>Action:</th><td>@Model.Action</td></tr>
        @foreach (string key in Model.Data.Keys)
        {
            <tr><th>@key :</th><td>@Model.Data[key]</td></tr>
        }
    </table>
    <a asp-route-legacyurl="/articles/Windows_3.1_Overview.html" class="btn btn-primary">
        This is an outgoing URL
    </a>
    <p>
        URL: @Url.Action(null, null,
new { legacyurl = "/articles/Windows_3.1_Overview.html" })
    </p>
    <a asp-action="Index" asp-controller="Home" asp-route-area="Admin">link</a>
    <a asp-action="Index" asp-controller="Home" asp-route-area="">link</a>
</body>
</html>
